@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BusinessObject.Models
@model List<Feedback>
@{
    var feedback = ViewBag.Feedback as Feedback;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/css/question.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">

</head>
<body>
    

    <div class="feedback">
        <div class="feedback__title">FPT University</div>
        <div class="feedback__header">
            <div class="feedback__header__left">
                <span class="feedback__header__left__home">Home</span>
                <span>|</span>
                <span>View Feedback</span>
            </div>
            <div class="feedback__header__right">
                <span>quannt</span>
                <span>HE151386</span>
                <span>Campus Hòa Lạc</span>
            </div>
        </div>
        <div class="feedback__table">
            <table id="myTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sinh viên</th>
                        <th>Môn học</th>
                        <th>Nội dung</th>
                        <th>Ngày gửi</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FeedbackId</td>
                            <td>@item.Account.StudentCode</td>
                            <td>@item.Subject.SubjectCode</td>
                            <td>@item.Description</td>
                            <td>@item.CreateDate</td>
                            <td><button type="submit">Xóa</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true // Bật tính năng phân trang
        });
    });
    function showHelloWorld(index) {
        $('#helloWorldMessage_' + index).toggle();
    }

    const next = document.querySelector('.next')
    const prev = document.querySelector('.prev')
    const comment = document.querySelector('#list-comment')
    const commentItem = document.querySelectorAll('#list-comment .item');
    console.log(commentItem)
    var translateY = 0;
    var count = commentItem.length
    next.addEventListener('click', function (event) {
        event.preventDefault();
        if (count == 1) {
            return false;
        }
        translateY += -400
        comment.style.transform = `translateY(${translateY}px)`
        count--;
    })
    prev.addEventListener('click', function (event) {
        event.preventDefault();
        if (count == 3) {
            return false;
        }
        translateY += 400
        comment.style.transform = `translateY(${translateY}px)`
        count++;
    })
</script>

</html>