@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BusinessObject.Models
@model List<SubjectAccount>
@{
    var subject = ViewBag.SubjectAccount as SubjectAccount;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/subject.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">

</head>
<body>

    <div class="container-subject">
        <h1 class="title">... Danh sách môn học</h1>
        <table>
            <thead>
            <th>Mã môn</th>
            <th>Tên môn</th>
            <th>Học sinh</th>
            <th>Tên đầy đủ</th>
            <th>Hành động</th>
            </thead>
            <tbody>
                @foreach (SubjectAccount item in Model)
                {
                    <tr>
                        <td>@item.Subject.SubjectCode</td>
                        <td>@item.Subject.SubjectName</td>
                        <td>@item.Account.StudentCode</td>
                        <td>@item.Account.FullName</td>
                        <td><a class="view-feedback" asp-controller="Feedback" asp-route-subjectID="@item.Subject.SubjectId">Xem phản hồi của môn học</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "paging": true // Bật tính năng phân trang
        });
    });
    function showHelloWorld(index) {
        $('#helloWorldMessage_' + index).toggle();
    }

    const next = document.querySelector('.next')
    const prev = document.querySelector('.prev')
    const comment = document.querySelector('#list-comment')
    const commentItem = document.querySelectorAll('#list-comment .item');
    console.log(commentItem)
    var translateY = 0;
    var count = commentItem.length
    next.addEventListener('click', function (event) {
        event.preventDefault();
        if (count == 1) {
            return false;
        }
        translateY += -400
        comment.style.transform = `translateY(${translateY}px)`
        count--;
    })
    prev.addEventListener('click', function (event) {
        event.preventDefault();
        if (count == 3) {
            return false;
        }
        translateY += 400
        comment.style.transform = `translateY(${translateY}px)`
        count++;
    })
</script>
</html>